language: python
python:
  - "3.7"
install:
  - pip install pipenv
  - pipenv install
script:
  - python seocho.py extract
  - python seocho.py convert
deploy:
  provider: pages
  skip_cleanup: true
  github_token: $TRAVIS_GITHUB_TOKEN
  on:
    branch: master
  local_dir:
    - json/seocho.json